.main{
    display:flex;
    flex-direction: column;
    justify-content: center !important;
    padding-bottom: 60px;
}
.heading{
    text-align: center;
    font-size: 25px;
    font-family: monospace;
    letter-spacing: 2px;
    text-shadow: gray 1px 1px 3px;
    color:rgb(104, 102, 102);
}
.company{
    align-content: center;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly !important;
    padding-left:130px;
    padding-right:130px;
    padding: 40px;
}
.img{
    width:190px;
    height:150px;
    animation:hide-animation 2.5s
}
@keyframes hide-animation{
    0%{
        opacity:0;
        visibility: visible;
    }
    100%{
        opacity:0;
        visibility: hidden;
    }
}
@media only screen and (max-width: 770px) {
    .main{
        display:flex;
        flex-direction: column;
        justify-content: center !important;
        padding-bottom: 0px;
        margin-left: 150px;
    }
    .img{
        width:250px;
        height:190px
    }
    .company{
        align-content: center;
        display:flex;
        flex-direction: column;
        justify-content: center !important;
        padding-left:0px;
        padding-right:0px;
        padding: 0px;
    }
    .heading{
        text-align: center;
        font-size: 25px;
        font-family: monospace;
        letter-spacing: 2px;
        text-shadow: gray 1px 1px 3px;
        color:rgb(104, 102, 102);
        width:150% !important;
    }
}